<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ジェムカンボタン</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <style>
        body {
            background-image: url("background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
        }

        div.container-fluid {
            background-color: rgba(255, 255, 255, 0.6);
        }

        * {
            font-family: "M PLUS Rounded 1c", serif;
        }
    </style>
</head>
<body>
<div class="container-fluid pt-4 pb-4">
    <div class="row mb-4">
        <div id="app" class="col-md">
            <h1>ジェムカンボタン v.1.0a2</h1>
            <p>メンバーの何気ない一言を再生して愛でることができるボタンです。<br>
                勝手に作ってごめんなさい。いつも配信してくれてありがとう。</p>
            <member-selector :members="members"></member-selector>
            <div id="buttons">
                <play-button v-for="button in buttons" :key="button.id" :button="button"></play-button>
            </div>
        </div>
        <div class="col-md">
            <div class="embed-responsive embed-responsive-16by9">
                <div id="player" class="embed-responsive-item"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <small>Inspired by <a href="http://sanabutton.ojaru.jp/" target="_blank">さなボタン</a> | <a
                    href="https://gemscompany.jp/" target="_blank">GEMS COMPANY</a> | Last updated at 2018-02-11
            </small>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script>
    Vue.component('member-selector', {
        props: ['members'],
        methods: {
            selected: function (e) {
                var selected = e.target.value;
                vm.switch(selected);
            }
        },
        template:
            '<select class="form-control mb-4 shadow-sm" @change="selected">' +
            '<option value="">メンバーをえらんでね</option>' +
            '<option v-for="member in members" :key="member.key" :value="member.key">{{ member.name }}</option>' +
            '</select>'
    });

    Vue.component('play-button', {
        props: ['button'],
        methods: {
            play: function (e) {
                player.loadVideoById({
                    'videoId': this.button.videoid,
                    'startSeconds': this.button.start,
                    'endSeconds': this.button.end,
                    'suggestedQuality': 'medium'
                });
            }
        },
        template: '<button @click="play" class="btn btn-light btn-sm mr-2 mb-2 shadow-sm">{{ button.label }}</button>'
    });

    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player');
        axios.get('source.json').then(function (response) {
            vm.sources = response.data.Source;
            vm.sources.sort(function(a, b){
                if(a.label < b.label) { return -1; }
                if(a.label > b.label) { return 1; }
                return 0;
            });
        });
    }

    var vm = new Vue({
        el: '#app',
        data: {
            members: [
                {
                    name: 'うた',
                    key: 'Uta'
                },
                {
                    name: 'ひなか',
                    key: 'Hinaka'
                },
                {
                    name: 'ねね',
                    key: 'Nene'
                },
                {
                    name: 'れいか',
                    key: 'Reika'
                },
                {
                    name: 'しずく',
                    key: 'Shizuku'
                },
                {
                    name: 'みこと',
                    key: 'Mikoto'
                },
                {
                    name: 'ゆずき',
                    key: 'Yuzuki'
                },
                {
                    name: 'あおい',
                    key: 'Aoi'
                },
                {
                    name: 'ゆきの',
                    key: 'Yukino'
                },
                {
                    name: 'まや',
                    key: 'Maya'
                },
                {
                    name: 'なでしこ',
                    key: 'Nadeshiko'
                },
                {
                    name: 'ねくと',
                    key: 'Nekuto'
                }
            ],
            sources: [],
            buttons: []
        },
        created: function (e) {
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        },
        methods: {
            switch: function (name) {
                this.buttons = [];
                for (let i in this.sources) {
                    var video = this.sources[i];
                    if (video.name === name) {
                        this.buttons.push(video);
                    }
                }
            }
        }
    });
</script>
</body>
</html>